/* Typography */

.left-pane {
    height: 100%;
    color: white;
}

.title {
    position: relative;
    font-size: 2rem;
    color: #ffffff;
    left: 100px;
    top: 130px;
    font-family: 'Nunito', sans-serif;
}

h2 {
    font-size: 1.5 rem;
    color: white;
    
}

.rightpane {
    background: #2e2e31;
    left: 1050px;
    position: relative;
    top: -65px;
    width: 100%;
    height: 100%;

}


.roundedbox1 {
    border-radius: 15px;
    background: #414246;
    padding: 20px;
    width: 290px;
    height: 290px;
    position: relative;
    top: 450px;
    font-family: 'Nunito', sans-serif;
    margin-left: 33px;
    margin-right: 33px;
    margin-bottom: 20px;
}
