<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Project TetraNet</title>

    <style>
        .pp-time {
            background-color: white;
            height: 95vh;
            width: 20vh;
            border-radius: 1px;
            position: relative;
        }

        body {
            overflow: hidden;
            position: absolute;
            height: 100vh;
            width: 100vw;
        }

        #video_container {
            position:relative;
        }

    </style>


</head>
<body>
    <section class="pp-time">
        <div class="left-pane-menu" id="video_container" align="center">
            <img src="video_feed" width="100%" alt="NO VIDEO FOUND" />
        </div>
        <div class="navigation-tile">

        </div>
    </section>




</body>
</html>