<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Project TetraNet</title>



</head>
<body>
    <div class="entire-window-container">
        <div class="pane-container">
            <div class="left-pane-section">
                <div id="logo-container">
                    <h1 id="logo-title">Project TetraNet</h1>
                </div>
                <div class="navigation-tile" href="another_page.html">
                    <h1 class="navigation-text">Dashboard</h1>
                </div>
                <div class="navigation-tile" href="another_page.html">
                    <h1 class="navigation-text">Analyze</h1>
                </div>
                <div class="navigation-tile">
                    <h1 class="navigation-text">History</h1>
                </div>
            </div>
        </div>
        <div class="right-pane">
            <div class="video-holder" id="video-container">
                <img src="video_feed" width="100%" alt="NO VIDEO FOUND"/>
            </div>
            <div class="maps-container">
                <div id="map"></div>
                <script
                  src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
                  async></script>
            </div>
        </div>
    </div>

<!--    <div class="video_holder" id="video_container" align="center">-->
<!--        <img src="video_feed" width="100%" alt="NO VIDEO FOUND" />-->
<!--    </div>-->


</body>
</html>