body {
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    align-items: flex-start;
    flex-direction: row;
    background-color: #2e2e31;
}

h1 {
    font-family: roboto, sans-serif;
    font-size: 1em;
}

a {
            text-decoration: none;
        }

        .maps-container {
            background-color: white;
            height: 20vh;
        }

        .video-holder {
            flex: 1;
        }

        #map {
            flex-grow: 1;
          height: 400px;
          /* The height is 400 pixels */
          width: 100%;
          /* The width is the width of the web page */
            border-radius: 5px;
        }

        .right-pane {
            display: flex;
            padding: 3em;
        }

        #logo {
            position: relative;
            flex: 1;
            height: 5em;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .logo-title {
            font-family: roboto,sans-serif;
            font-size: 1em;
            color: white;
            text-align: center;
        }

        .dashboard-title {
            font-size: 1em;
            color: white;
            display: flex;
            flex-direction: row;
        }

        #test {
            align-self: flex-end;
            flex-grow: 1;
            text-align: end;
            color: lawngreen;
        }

        #dashboard-text {
            font-size: 1.5em;
        }
        .right-pane-content-container{
            color: #414246;
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        #video_from_device{
            border-radius: 5px;
            elevation: above;
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .video-holder {
            background-color: #414246;
            height: auto;
            margin: 10px;
            border-radius: 5px;
        }

        .status-box {
            flex-grow: 1;
            width: 20vw;
            height: 20vh;
            background-color: #414246;
            margin: 10px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
        }

        h2 {
            margin: 0.2em;
            font-family: roboto, sans-serif;
            font-size: 1em;
        }

        .status-box {
            padding: 0.5em;
        }




.entire-window-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    display: flex;
    flex-direction: row;
}

.pane-container {
    display: flex;
    height: 100%;
    width:20vh;
    align-content: center;
    padding: 1.5em;
}

.left-pane-section {
    height: 91.5vh;
    max-width: 20vw;
    width: 15vw;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: #414246;
    flex-grow: 1;
}

.maps-container {
    height: 20vh;
    width: 20vw;
    background-color: white !important;
    color: white;
}



.dash-separator {
    border-top: 2px solid;
    border-top-color: lightblue;
    border-radius: 3px;
}

.navigation-tile {
    margin-top: 1.5em;
    position: relative;
    padding: 0.5em;
    text-align: center;
    border-color: #3498db;
    color: #2e2e31;
    box-shadow: 0 0 40px 40px #2e2e31 inset, 0 0 0 0 #2e2e31;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    border-radius: 5px;
}
.navigation-tile:hover {
    box-shadow: 0 0 10px 0 #2e2e31 inset, 0 0 10px 4px #ff7f50;
}

.logo-container {
    text-align: center;
    margin-top: 3em;
    display: flex;
    height: 10vh;
    align-items: flex-end;
    align-content: center;
}


.maps-container {
    background-color: #2e2e31;
    margin: 10px;
}

.navigation-text {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: lightblue;
}

